@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('./fonts/MuseoSans-500Italic.eot');
    src: url('./fonts/MuseoSans-500Italic.eot?#iefix') format('embedded-opentype'), url('./fonts/MuseoSans-500Italic.woff2') format('woff2'), url('./fonts/MuseoSans-500Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('./fonts/MuseoSans-500.eot');
    src: url('./fonts/MuseoSans-500.eot?#iefix') format('embedded-opentype'), url('./fonts/MuseoSans-500.woff2') format('woff2'), url('./fonts/MuseoSans-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Museo Sans 500', sans-serif;
    font-style: normal;
}

header {
    background-color: #2b3947;
}

.container2{
    background-color: #232b38;
}

header i {
    color: white;
}

a {
    cursor: pointer;
}

a:active {
    outline: #4285F4 solid 2px!important;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container1{
    background-color: #2b3947;
}

.container1,.container2{
    padding: 0px 10px;
}

.menu-list {
    display: block;
    float: right;
}

.menu-list li {
    display: inline-block;
}

.clearfix{
    clear: both;
}

.top-menu-list li{
    padding: 5px 8px;
    position: relative;
}

.top-menu-list li span{
    color: #C3CBD7;
    font-size: 11px ;
}
.top-menu-list li a:hover span {
    color: #7dc5be;
}

.top-menu-list li::after {
    content: ' ';
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 18px;
    border-left: 1px dotted white;
    right: 0px;
    top: 7px;
}
.top-menu-list li:last-child::after {
    content: none;
}

.container2 nav{
    float: right;
}
.container2 nav li{
    display: inline-block;
}

.logo-link {
    height: 60px;
    display: inline-block;
    PADDING: 12px 5px;
}

.headerlogo {
    height: 100%;
}

.container2 nav ul {
    height: 100%;
    line-height: 60px;
}

.container2 nav ul li{
    position: relative;
}

.container2 nav ul li a{
    display: inline-block;
    height: 100%;
}

.container2 nav ul li a{
    padding: 0 6px;
    color: #C3CBD7;
    text-decoration: none;
}

.container2 nav ul li a:hover{
    box-shadow: 0px 3px 0 rgb(239 38 54);
    background-color: rgba(0, 0, 0, .25);
}

.container2 nav ul span{
    font-size: 15px;
    font-weight: 600;
    color: white;
}
.btn {
    cursor: pointer;
}

.btn-login {
    background: transparent;
    border: 1px solid #fbf6f6;
    padding: 6px;
    border-radius: 18px;
}
.btn-login:hover {
    background-color: rgba(255, 255, 255, .15);
    border-color: rgba(255, 255, 255, 1);
}

.container2 nav li:not(.norborder)::after {
    content: ' ';
    position: relative;
    display: inline-block;
    width: 1px;
    height: 18px;
    border-left: 1px dotted white;
    right: 0px;
    top: 5px;
}

.bolum2{
    background-image: url(./Images/Holiday.jpg);
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
}

.bolum2 .yazi h2{
    position: absolute;
    width: 100%;
    top: 5%;
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: lighter;
}


.bolum2  a:nth-child(1){
    padding: 25px 35px;
    position: absolute;
    background-color: RED;
    border-radius: 15px;
    font-size: smaller;
    top: 200px;  
    left:550px ;
    color: white;
    text-decoration: none;
}
.bolum2  a:nth-child(2){
    padding: 25px 35px;
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    font-size: smaller;
    top: 200px;  
    left:790px ;
    color: white;
    text-decoration: none;
}
.bolum2  a:nth-child(3){
    padding: 25px 35px;
    position: absolute;
    background-color: RED;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    font-size: smaller;
    top: 200px;  
    left:1070px ;
    color: white;
    text-decoration: none;
}
