@charset "utf-8";
@font-face {
    font-family: 'Museo Sans 100';
    src: url('subset-MuseoSans-100.woff2') format('woff2'),
        url('subset-MuseoSans-100.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('subset-MuseoSans-300.woff2') format('woff2'),
        url('subset-MuseoSans-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('subset-MuseoSans-500.woff2') format('woff2'),
        url('subset-MuseoSans-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('subset-MuseoSans-700.woff2') format('woff2'),
        url('subset-MuseoSans-700.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.container .menu-top{
    display: flex;
    width: 100%;
    height: 30px;
    font-size: 11px;
    font-family: 'Museo Sans 300';
    justify-content: flex-end;
    background-color:#2b3947;
}

.container .menu-top ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container .menu-top ul li a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px dotted white ;
}

.container .menu-top ul li a:hover{
    color: gray;
    transition: 0.2s ease-in-out;
}
.container .menu-top ul li a:active{
    border-right: none;
    outline: 1px solid #4285f4;
    transition: 0.2s ease-in-out;
    
}

.container .menu-top ul li:last-child a{
    border-right: none;
    padding: 0;
    margin-right: 5px ;
}

.icons{
    color: white;
    padding-right: 4px;
    width: 11px;
}

header .menu-bottom{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    background-color: #232b38;
}
header .menu-bottom .logo img{
    width: 217px;
    height: 40px;
    padding: 10px 25px 10px 24px;
    margin-left: -15px;
}

header .menu-bottom ul{
    font-family: 'Museo Sans 700';
    font-size: 16px;
    position: absolute;
    float: right ;
    right: 10px;
    
}

header .menu-bottom ul li{
    box-sizing: border-box;
    padding: 20.5px 0px 20.5px 10px;
    text-align: center;
    display: block;
    float: left;
}
header .menu-bottom ul li a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
    border-right: 1px dotted white;
}

header .menu-bottom ul li:nth-last-child(2) a{
    border: none;
}

header .menu-bottom ul li:hover{
    background-color: rgba(0, 0, 0, 0.246) ;
    border-bottom: 2px solid red;
}
header .menu-bottom ul li:active{
    outline: 3px solid #4285f4;
    transition: 0.2s ease-in; 
    box-sizing: border-box;
}

header .menu-bottom ul li:active a{
    border: none;
}

.login{
    border: 1px solid white;
  
    border-radius: 25px;
    padding: 10px 1px;
    float: left;
    position:relative;
    top: 10px;
    left: 10px;
}

.login a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.login .icons{
    padding: 2px;
    margin-right: 5px;
}

.login:hover{
    background-color: rgba(255, 255, 255, 0.657) ;
}
.login:active{
    border: 2px solid #4285f4;
    transition: 0.2s ease-in-out;
}

.mainBlock .block{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.mainBlock .container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between ;
    background-image: url(./images/background.jpg);
    background-size: cover ;
}

.mainBlock .container .yazi{
    padding-top: 20px;
    font-family: 'Museo Sans 100';
    font-size: 36px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.mainBlock .container .islemler{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 60px;
}

.mainBlock .container .islemler .islem2,.islem3{
    padding: 15px 20px;
    margin: 0px 3px;
    box-sizing: border-box;
    border:1px solid white ;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.212);
    color: white;
    font-family: 'Museo Sans 300';
    font-size: 15px ;
}

.mainBlock .container .islemler .islemozel:hover{
    background: rgba(255, 255, 255, 0.264);
    transition: 0.2s ease-in-out;
}

.mainBlock .container .islemler .islem1{
    padding: 16px 20px;
    margin: 0px 3px;
    border-radius: 3px;
    background-color: #e81932;
    color: white;
    font-family: 'Museo Sans 300';
    font-size: 15px ;
}

.travel .background{
    width: 800px;
    height: 185px;
    background: rgba(0, 0, 0, 0.397);
    padding-right: 15px;
    padding-left: 15px;
}


.mainBlock .container .travel{
    flex-basis: 185px;
}

.mainBlock .container .mainBlockFooter{
    flex-basis: 140px;
}

.mainBlock .container .travel .background .radio-btn label{
    color: white;
    padding: 2px 4px;
}

.mainBlock .container .travel .background .radio-btn input{
    margin: 15px 5px 0px 10px;
}
.mainBlock .container .travel .background .radio-btn-2{
    float: right;
    color: white;
}

.mainBlock .container .travel .background .radio-btn label:hover{
    border-bottom: 2px solid red;
    transition: 0.2s ease-in-out;
    margin: 0;
    padding: 2px 4px;
}

.mainBlock .container .travel .background .radio-btn-2:hover{
    border-bottom: 2px solid red;
    transition: 0.2s linear;
    margin: 0;
    padding: 0
}

.yonsecim{
    padding-bottom: 25px ;
}

.travel .background .yonsecimbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: space-between;
    width: 800px;
    height: 95px;
}
label{
    font-family: 'Museo Sans 300';
    font-size: 18px;
}
.travel .background .yonsecimbottom .ysb-btn{
    width: 150px;
    height: 85px;
    border: 1px solid white;
    margin: -30px 5px 5px 5px ;
    background-color: white;
}
.travel .background .yonsecimbottom .ysb-btn-dark{
    background-color: #232b38;
}
.travel .background .yonsecimbottom .ysb-btn-red{
    background-color: #e81932;
}

.travel .background .yonsecimbottom .ysb-btn{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.travel .background .yonsecimbottom .ysb-btn .icon1{
    padding: 5px;
    margin-right: 10px;
}

.yonsecimbottom .kutular .kutu{
    width: 160px;
    padding: 3px;
    font-family: 'Museo Sans 500';

}

.travel .background .yonsecimbottom .ysb-btn .kutular{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.travel .background .yonsecimbottom .ysb-btn .kutular .kutu1{
    color:#2073e3;
    font-size: 14px;
    
} 
.travel .background .yonsecimbottom .ysb-btn .kutular .kutu2{
    color: black;
    font-size: 25px;
} 
.travel .background .yonsecimbottom .ysb-btn .kutular .kutu3{
    color: gray;
    font-size: 12px;
} 

.travel .background .yonsecimbottom .ysb-btn .icon2{
    padding: 5px;
    margin-right: 10px;
}

.travel .background .yonsecimbottom .ysb-btn .kutu4{
    color: gray;
    font-size: 25px;
    font-family: 'Museo Sans 500';
}

.travel .background .yonsecimbottom .ysb-btn .tarih{
    color:white;
    padding-right: 10px;
    padding-left:5px ;
    font-family: 'Museo Sans 500';
    font-size: 24px;

}

.travel .background .yonsecimbottom  .ysb-btn-dark .kutular{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.travel .background .yonsecimbottom  .ysb-btn-dark .kutular .kes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 70px;
    text-align: center;
    font-family: 'Museo Sans 500';
    
}

.travel .background .yonsecimbottom  .ysb-btn-dark .kutular .kes .kutuK{
    color: #99a5b4;
    font-size: 14px;
}

.travel .background .yonsecimbottom  .ysb-btn-dark .kutular .kes .kutuE{
    color: white;
    font-size: 30px;
}

.travel .background .yonsecimbottom  .ysb-btn-dark .kutular .kes .kutuS{
    color: #dcdee0;
    font-size: 14px;
}
.travel .background .yonsecimbottom  .ysb-btn-dark .kutular .person{
    margin: 0px 0px 0px 10px;
}
.travel .background .yonsecimbottom  .ysb-btn-dark .kutular .counter{
    padding-left: 10px;
    font-family: 'Museo Sans 500';
    font-size: 24px;
    color: white;
    
}

.background .yonsecimbottom .ysb-btn-red .secim{
    padding:18.5px 13.985px ;
}

.backgroundfooter{
    color: white;
    padding-left: 10px;
    font-family: 'Museo Sans 500';
    font-size: 14px;
}


.mainBlockFooter .foot{
    width: 100px;
    height: 70px;
    /* border: 1px solid black; */
    margin: 20px 35px;
    text-align: center;
}
.footSAR{
    margin-left: 38px;
    width: 22.5px ;
    padding:10px ;
    background:#232b38 ;
    border: 1px solid white;
    border-radius: 100%;
}
.footSAR1{
    margin-top: 5px ;
    border: 1px solid white;
    background:#232b38 ;
    width: 125px;
    font-size: 13px;
    color: white;
}
.fas{
    color: white;
}
.fa-arrow-right{
    padding: 5px ;
}


@media screen and (max-width:760px){
    .container .menu-top ul li:nth-child(3n+1){
        display: none;
    }
    .container .menu-bottom ul li:not(:nth-child(4)) {
        display: none ;
    }
    .login{
        border-radius: 100%;
       margin: 5px;
       padding: 5px;
    }
    .login a{
        display: none;
    }
}
   
